<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppleidCreate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>852F57E11E4B1DA000A9E4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>852F57FA1E4B1DA000A9E4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>852F58051E4B1DA000A9E4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
